<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>mynotesapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>NotesServlet</servlet-name>
		<servlet-class>NotesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NotesServlet</servlet-name>
		<url-pattern>/NotesServlet/dashboard</url-pattern>
		<url-pattern>/NotesServlet</url-pattern>
		<url-pattern>/NotesServlet/edit</url-pattern>
		<url-pattern>/NotesServlet/update</url-pattern>
		<url-pattern>/NotesServlet/delete</url-pattern>
	</servlet-mapping>
  
 
	<display-name>mynotesapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>ProfileServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>

		<url-pattern>/AdminServlet/dashboard</url-pattern>
		<url-pattern>/AdminServlet/edit</url-pattern>
		<url-pattern>/AdminServlet/update</url-pattern>
		<url-pattern>/AdminServlet/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemindersServlet</servlet-name>
		<servlet-class>RemindersServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RemindersServlet</servlet-name>
		<url-pattern>/RemindersServlet/dashboard</url-pattern>
		<url-pattern>/RemindersServlet/edit</url-pattern>
		<url-pattern>/RemindersServlet/update</url-pattern>
		<url-pattern>/RemindersServlet/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet/profile</url-pattern>
		<url-pattern>/ProfileServlet/edit</url-pattern>
		<url-pattern>/ProfileServlet/update</url-pattern>
	</servlet-mapping>

</web-app>